In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

In [29]:
df=pd.read_csv('data.csv')

In [30]:
qmark='?'

In [31]:
df.replace(qmark,np.NaN,inplace=True)
df.isnull().sum()

A1      8
A2     10
A3      4
A4      4
A5      0
A6      6
A7      0
A8      0
A9      6
A10     0
A11     0
A12     0
A13     0
A14    10
A15     0
A16     0
dtype: int64

In [6]:
df_A1=df['A1']
df_A1.describe()

count     544
unique      2
top         b
freq      379
Name: A1, dtype: object

In [7]:
df=df.fillna({'A1':'b'})

In [8]:
df_A2=df['A2']
df_A2=pd.to_numeric(df_A2, errors='coerce')

In [9]:
df_A2.describe()

count    542.000000
mean      31.976661
std       12.211810
min       15.170000
25%       22.690000
50%       28.540000
75%       39.147500
max       80.250000
Name: A2, dtype: float64

In [10]:
df_A14=df['A14']
df_A14=pd.to_numeric(df_A14, errors='coerce')

In [11]:
df_A14.describe()

count     542.000000
mean      186.928044
std       182.590004
min         0.000000
25%        70.750000
50%       160.000000
75%       280.000000
max      2000.000000
Name: A14, dtype: float64

In [12]:
# -------handling numericals missing values ---------------
# numerical attributes with missing data --> A2,A14

# 1. A2
# i. Using mean
df=df.fillna({'A2':31.976661,'A14':186.928044})

In [13]:
df_A3=df['A3']
df_A3.describe()

count     548
unique      3
top         u
freq      416
Name: A3, dtype: object

In [14]:
#since u has the most freq 416/548 
df=df.fillna({'A3':'u'})

In [15]:
df_A3=df['A3']
df_A3.describe()

count     552
unique      3
top         u
freq      420
Name: A3, dtype: object

In [16]:
df_A4=df['A4']
df_A4.describe()

count     548
unique      3
top         g
freq      416
Name: A4, dtype: object

In [17]:
#since g has the most freq 416/548
df=df.fillna({'A4':'g'})

In [18]:
df_A6=df['A6']
df_A6.describe()

count     546
unique     14
top         c
freq      104
Name: A6, dtype: object

In [19]:
df=df.fillna({'A6':'c'})

In [20]:
df_A9=df['A9']
df_A9.describe()

count     546
unique      9
top         v
freq      310
Name: A9, dtype: object

In [21]:
df=df.fillna({'A9':'v'})

In [22]:
#plot_correlation_map(df)

In [23]:
#df.to_csv(r'File Name.csv')

In [24]:

df['A1'] = df['A1'].map( {'a': 1, 'b': 0} ).astype(int)

In [25]:
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,0,30.83,u,g,0.00,w,0,True,v,1.25,True,1,False,202,g,Success
1,1,58.67,u,g,4.46,q,560,True,h,3.04,True,6,False,43,g,Success
2,1,24.5,u,g,0.50,q,824,False,h,1.50,True,0,False,280,g,Success
3,0,27.83,u,g,1.54,w,3,True,v,3.75,True,5,True,100,g,Success
4,0,25,u,g,11.25,c,1208,True,v,2.50,True,17,False,200,g,Success

0